[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
depin_lite = "7nMrAY8nNgHcyAimQJgrzM5LisT2jVaNRX2s6hvnNsxU"

[programs.devnet]
depin_lite = "7nMrAY8nNgHcyAimQJgrzM5LisT2jVaNRX2s6hvnNsxU"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
